:root {
  font-size: clamp(7.5px, 2.41vw, 20px);
  --action-button-gap: 1.6rem;
}

body,
html {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;
  overflow-x: hidden;
  font-size: 1.6rem;
  background: linear-gradient(180deg, #e2e9e5 0%, #ececec 100%);
  color: #404040;
}

.main-container {
  margin: 0 auto;
  padding: 0 2.8rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.4rem;
}

header .logo {
  width: 11.4rem;
  height: 5.6rem;
  margin-top: 0.2rem;
}

.logo img {
  width: 120%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-8%);
}

.login {
  width: 2.4rem;
  height: 2.4rem;
}

.login img {
  width: 100%;
  height: 100%;
}

.survey h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 5.2rem;
  text-align: left;
  margin: 4rem 0 4.8rem;
}

.survey p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: left;
  margin-bottom: 1.6rem;
}

.action-button-container {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--action-button-gap);
  justify-content: center;
  margin: 0 calc(var(--action-button-gap) / -2) 4.8rem;
}

.action-button {
  background-color: #bad5c8;
  padding: 1.8rem 1.6rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: #444134;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  width: calc(50% - var(--action-button-gap));
  box-shadow: 0px 4px 4px 0px #81814629;
}

.action-button.full-width {
  width: calc(100% - var(--action-button-gap));
}

.smiling-woman-image {
  width: 100%;
  height: 47.8rem;
  position: relative;
}

.smiling-woman-image img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.disclaimer-container {
  background-color: #f8f6f1;
}

.disclaimer {
  padding: 34px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

footer {
  background-color: #edeae2;
}

footer .logo {
  width: 8rem;
  height: 4rem;
}

footer p {
  margin: 0;
}

footer h3 {
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 8px 0;
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer a {
  font-family: "Josefin Sans", sans-serif;
  color: #404040;
  display: inline-flex;
  align-items: baseline;
}

.footer-sections {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
}

.terms-link {
  text-decoration: none;
}

.terms-link img {
  margin-left: 4px;
  width: 7px;
  vertical-align: text-top;
}

@media (min-width: 768px) {
  :root {
    font-size: clamp(6px, 0.7vw, 10px);
  }

  .survey-section-container {
    display: flex;
  }

  .survey {
    min-width: 52.4rem;
    max-width: 52.4rem;
    height: 50.6rem;
    margin-top: 8.4rem;
  }

  .survey h1 {
    margin: 0;
    font-size: 4.8rem;
    line-height: 6.4rem;
  }

  .main-container {
    max-width: 114rem;
    margin: 0 auto;
  }

  .smiling-woman-image {
    height: 69.4rem;
    margin-left: 6.4rem;
  }

  .smiling-woman-image img {
    width: 100%;
  }

  .disclaimer-container {
    width: 100%;
  }
}
